{% extends "base_generic.html" %}

{% block content %}

<!-- div sfondo -->
<div class="p-3 mb-2 text-white">
    
    <!-- titolo pagina -->
    <h1>Informazioni sull'account <img src="../static/icons/user-check.svg" alt="user-check.svg not found"></h1>

    <!-- cards -->
    <div class="card-deck">
        <!-- card nome e cognome -->
        <div class="card text-black bg-light mb-3">
            <div class="card-header"> <h5>Informazioni personali <img src="../static/icons/user.svg" style="width: 20px;" alt="user.svg not found"></h5> </div>
            <div class="card-body"> <h5 class="card-title">{{name}} {{surname}}, {{eta}} anni, {{sesso}}</h5> </div>
        </div>
        <!-- card email -->
        <div class="card text-black bg-light mb-3">
            <div class="card-header"> <h5>Email <img src="../static/icons/mail.svg" style="width: 20px;" alt="mail.svg not found"></h5> </div>
            <div class="card-body"> <h5 class="card-title">{{email}}</h5> </div>
        </div>
        <!-- card img profilo -->
        <div class="card text-black bg-light mb-3">
            <div class="card-header"> <h5>Immagine profilo <img src="../static/icons/smile.svg" style="width: 20px;" alt="smile.svg not found"></h5> </div>
            <div class="card-body"><img src="../static/profiles/{{name}}_{{surname}}.jpg" class="rounded-circle" style="width: 100px;" alt="{{name}}_{{surname}}.jpg non trovata"></div>
        </div>
    </div>

</div>

{% endblock %}