<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>We Music</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <!-- Bootstrap CSS (forse da togliere, da valutare !?! ?!?)
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" /> -->
  <!-- Bootstrap Font Icon CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <!-- Cloudflare Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Add icon library -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<!-- body with bootstrap style -->
<body class="p-3 mb-2 bg-dark text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}

      <!-- menu verticale -->
      <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
          <!-- home + icon -->
          <a href="{% url 'index' %}" class="btn btn-primary"><b>Home</b> <img src="{% static 'icons/home.svg' %}" style="width: 20px;" alt="home.svg not found"></a>
          {% if user.is_authenticated %}
            {% if request.user_type == 'ordinary' %}
                <!-- account + icon -->
                <a href="{% url 'account_detail' %}" class="btn btn-primary"><b>Account</b> <img src="{% static 'icons/user.svg' %}" style="width: 17px;" alt="user.svg not found"></a>
                <!-- algoritmo di discover + icon -->
                <a href="{% url 'discover' %}" class="btn btn-primary"><b>Discover</b> <img src="{% static 'icons/cpu.svg' %}" style="width: 17px;" alt="cpu.svg not found"></a>
                <!-- liked songs + icon -->
                <a href="{% url 'liked_songs' %}" class="btn btn-primary"><b>Liked</b> <img src="{% static 'icons/heart-check.svg' %}" style="width: 22px;" alt="heart-check.svg not found"></a>
                <!-- playlists + icon -->
                <a href="{% url 'playlists' %}" class="btn btn-primary"><b>Playlists</b> <img src="{% static 'icons/list.svg' %}" style="width: 17px;" alt="list.svg not found"></a>
                <!-- social + icon -->
                <a href="{% url 'people' %}" class="btn btn-primary"><b>Social</b> <img src="{% static 'icons/users-plus.svg' %}" style="width: 19px;" alt="users-plus.svg not found"></a>
                <!-- friends + icon -->
                <a href="{% url 'friends_detail' %}" class="btn btn-primary"><b>Friends</b> <img src="{% static 'icons/users.svg' %}" style="width: 17px;" alt="users.svg not found"></a>
            {% endif %}
            {% if request.user_type == 'artist' %}
              <li><a href="{% url 'account_detail' %}">Account</a></li>
              <li><a href="{% url 'uploaded_songs' %}">Songs</a></li>
              <li><a href="{% url 'uploaded_albums' %}">Albums</a></li>
            {% endif %}
            <!-- search + icon -->
            <a href="{% url 'search_results' %}" class="btn btn-primary"><b>Search</b> <img src="{% static 'icons/search-file.svg' %}" style="width: 17px;" alt="search-file.svg not found"></a>
            <hr/>
            <!-- logout + icon -->
            <a href="{% url 'logout' %}?next={{ request.path }}" class="btn btn-danger"><b>Logout</b> <img src="{% static 'icons/logout.svg' %}" style="width: 17px;" alt="logout.svg not found"></a>
          {% else %}
            <!-- login + icon -->
            <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-success"><b>Login</b> <img src="{% static 'icons/login.svg' %}" style="width: 17px;" alt="login.svg not found"></a>
          {% endif %}
        
      </div>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>

</html>
