{% extends "base_generic.html" %}

{% block content %}

<!-- titolo pagina -->
<h1>Algoritmo di Discover <img src="../static/icons/cpu.svg" style="width: 30px;" alt="cpu.svg not found"> </h1>

<!-- algoritmo suggerimento genere canzone -->
<!-- funzionamento: in base al sesso e all'età dell'utente, 
l'algoritmo suggerisce dei brani ricavandoli da un dataset.
1) l'algoritmo filtra per sesso ed età i generi musicali
2) all'utente, in base a ciò che si ricava al punto precedente, viene mostrata una lista di brani -->
<h3 class="rounded-3" style="background-color: skyblue; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
    Previsione di Machine Learning. Il genere musicale che ti suggeriamo è: <b><i>{{previsione.0}}</i></b>
</h3>

<!-- card brani suggeriti -->
<div class="card-deck">
    <!-- card song -->
    <div class="card text-white bg-warning mb-3">
      <div class="card-header"><h5>Ecco i brani che potrebbero piacerti <img src="../static/icons/music.svg" style="width: 20px;" alt="music.svg not found"></h5></div>
      <!-- lista delle canzoni suggerite dall'algoritmo -->
      <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        {% for s in list_songs_genere_target %}
            <!-- !?! non riesco a recuperare il nome e cognome dell'artista legato al brano in questione -->
            <!-- !?! attento a suggerire dei brani che piacciano già all'utente corrente -->
            <a href="{% url 'song_detail' s.id %}" class="btn btn-outline text-white bg-warning"><b>{{ s.title }} (<i>{{s.genre}}</i>)</b></a>
        {% endfor %} 
      </div>
    </div>
</div>

<!-- algoritmo suggerimento amici -->
<!-- se la lista contenente gli utenti suggeriti è vuota -->
{% if not list_suggested_friends %}
    <h3 class="rounded-3" style="background-color: red; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
        Siamo spiacenti ma l'algoritmo non ha trovato nessuna persona che potresti conoscere con i tuoi stessi gusti musicali!
        <img src="../static/gif/cryingemoji.gif" style="width: 75px;" alt="cryingemoji.gif non trovata" />
    </h3>
{% else %}
    <!-- se la lista contenente gli utenti suggeriti non è vuota, elencali -->
    <h3>L'algoritmo vuole suggerirti delle persone che potresti conoscere in base ai tuoi generi musicali:</h3>
    <!-- lista amici suggeriti -->
    <!-- container per le card -->
    <div class="container mb-5">
        <div class="row">
            <!-- foreach utenti suggeriti in lista amici suggeriti -->
            {% for u in list_suggested_friends %}
                <!-- nome e cognome degli utenti suggeriti ma che non devono essere già presenti negli amici -->
                <!-- utente n-esimo -->
                <div class="col-md-3">
                    <!-- card -->
                    <div class="card mb-4">
                        <!-- card body -->
                        <div class="card-body text-center">
                            <!-- img profilo -->
                            <img src="../../static/profiles/{{u.account.name}}_{{u.account.surname}}.jpg" class="rounded-circle" width="200" height="200" alt="{{u.account.name}}_{{u.account.surname}}.jpg non trovata" />
                            <!-- nome utente -->
                            <h4 class="card-title mt-3"><b>{{u.account.name}} {{u.account.surname}}</b></h4>
                            <!-- paragrafi -->
                            <p>Anche a <i>{{u.account.name}}</i> piace il tuo stesso genere musicale!</p>
                        </div>
                        <!-- fine card body-->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% endblock %}