{% extends "base_generic.html" %}

{% block content %}
<!-- Titolo -->
<h1>Amici</h1>

<!-- lista amici -->

<!-- TO DO -->

<!-- fine lista amici -->

<!-- form per la ricerca di amici -->
<h2>Cerca un utente per nome o per parte di esso</h2>
<form action="{% url 'friends_search' %}" method="post">
    {% csrf_token %}
    <!-- {{ form }} -->
    <input type="search" placeholder="Cerca amico.." name="searched">
    <button type="submit">Cerca</button>
</form>

<!-- lista di tutti gli utenti -->
<h2>Lista di tutti gli utenti in WeMusic</h2>
<!-- se la lista non è vuota -->
{% if list_user %}
    <!-- tabella utenti -->
    <table>
        <!-- head table -->
        <thead>
            <tr>
                <!-- id user -->
                <th>Id user</th>
                <!-- name -->
                <th>Name</th>
                <!-- surname -->
                <th>Surname</th>
            </tr>
        </thead>
        <!-- fine head table -->
        <!-- body table -->
        <tbody>
            {% for user in list_user %}
                <tr>
                    <!-- id user -->
                    <td>{{ user.user }}</td>
                    <!-- name -->
                    <td>{{user.name}}</td>
                    <!-- surname -->
                    <td>{{user.surname}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <!-- fine body table -->
    </table>
    <!-- fine tabella utenti -->
<!-- se la lista è vuota -->
{% else %}
    <!-- se la lista latest_question_list è vuota -->
    <p>Non è presente nessun utente</p>
{% endif %}
<!-- fine lista di tutti gli utenti -->

{% endblock %}