{% extends "base_generic.html" %}

{% block content %}
<!-- Titolo -->
<h1>Lista amici</h1>

<!-- lista amici -->
<!-- se sono presenti amici nella lista -->
{% if friends_list %}
    {% for l in friends_list %}
        <li>{{ l.account.name }} - {{ l.account.surname }}  - {{ l.account.email }}  - 
            <!-- controllo in più: se sono amici tasto rimuovi -->
            {% if l in friends_list %}
                <td><a href="{% url 'remove_friends' l.id %}">remove {{l.account.id}} - {{l.id}}</a></li>
            {% else %}
                <!-- altrimenti, verrà mostrato il pulsante add (a rigor di logica non dovrebbe mai verificarsi) -->
                <td><a href="{% url 'add_friends' l.id %}">add</a></li>
            {% endif %}
    {% endfor %}
{% else %}
<!-- altrimenti messaggio -->
    <h2>Non hai amici :/</h2>
{% endif %}
<!-- fine lista amici -->

{% endblock %}