{% extends "base_generic.html" %}

{% block content %}
  <h1>We Music</h1>
  
  {% if user.is_authenticated %}
    <p>Benvenuto {{ user.get_username }}!</p>
    <div style="display:flex; flex-direction: row;">
      <div style="margin-right: 40px">
        {% for s in liked_songs %}
          <div>{{s.title}}</div>
        {% endfor %}
      </div>
      <div>
        {% for p in playlists %}
          <div>{{p.name}}</div>
        {% endfor %}
      </div>
    </div>
  {% else %}
  <p>Benvenuto!</p>
  {% endif %}


{% endblock %}
