{% extends "base_generic.html" %}

{% block content %}
  <h1>We Music</h1>
  
  {% if user.is_authenticated %}
    <p>Benvenuto {{ user.get_username }}!</p>
    {% if request.user_type == 'ordinary' %}
      <div style="display:flex; flex-direction: row;">
        <div style="margin-right: 40px; border: 1px solid black; padding: 10px;">
          {% for s in liked_songs %}
            <div><a href="{% url 'song_detail' s.id %}">{{ s.title }}</a></div>
          {% endfor %}
        </div>
        <div style="border: 1px solid black; padding: 10px;">
          {% for p in playlists %}
            <div><a href="{% url 'playlist_detail' p.id %}">{{ p.name }}</a></div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% else %}
    <p>Benvenuto!</p>
  {% endif %}


{% endblock %}
