{% extends "base_generic.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Creation date</th>
            <th>Number of songs</th>
        </tr>
    </thead>
    <tbody>
        {% for p in playlists %}
        <tr>
            <td><a href="{% url 'playlist_detail' p.id %}">{{p.name}}</a></td>
            <td>{{p.creation_date}}</td>
            <td>{{ p.songs.all|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<form action="{% url 'playlist_create' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% endblock %}