{% extends "base_generic.html" %}

{% block content %}
<h1>{{name}}</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for s in songs %}
        <tr>
            <td><a href="{% url 'song_detail' s.id %}">{{s.title}}</a></td>
            <td>{{s.genre}}</td>
            <td>{{s.year}}</td>
            <td><a href="{{s.file.url}}" download>cLiCk HeRe To DoWnLoAd {{s.title}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}