{% extends "base_generic.html" %}

{% block content %}
<h1>{{playlist.name}}</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for s in songs %}
        <tr>
            <td><a href="{% url 'song_detail' s.id %}">{{s.title}}</a></td>
            <td>{{s.genre}}</td>
            <td>{{s.year}}</td>
            <td>
                <form action="{% url 'remove_song_from_playlist' playlist.id s.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="remove">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{% url 'delete_playlist' playlist.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="delete">
</form>
{% endblock %}