{% extends "base_generic.html" %}

{% block content %}
  <h1>{{song.title}}</h1>
  {% if request.user_type == 'ordinary' %}
    <form action="{% url 'add_song_to_playlist' song.id %}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
    </form>
    {% if is_liked %}
      <form action="{% url 'unlike_song' song.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="unlike">
      </form>
    {% else %}
      <form action="{% url 'like_song' song.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="like">
      </form>
    {% endif %}
  {% endif %}
{% endblock %}