{% extends "base_generic.html" %}

{% block content %}


<!-- titolo pagina -->
<h1>{{song.title}}</h1>
  {% if request.user_type == 'ordinary' %}
    <div class="mb-3">
      <form action="{% url 'add_song_to_playlist' song.id %}" method="post" class="form-control">
        {% csrf_token %}
        {{ form }}
        <!-- bottone aggiungi canzone alla playlist selezionata -->
        <input type="submit" value="Aggiungi" class="btn btn-primary">
      </form>
    </div>
    <!-- se la canzone ha già like, mostra unlike -->
    {% if is_liked %}
      <!-- bottone unlike song -->
      <a href="{% url 'unlike_song' song.id %}" method="post" class="btn btn-danger">
        <img src="../../static/icons/heart-circle-xmark-solid.svg" style="width: 17px;" alt="heart-circle-xmark-solid.svg not found">
      </a>
    {% else %}
    <!-- se la canzone ha unlike, mostra like -->
      <!-- bottone like song -->
      <a href="{% url 'like_song' song.id %}" method="post" class="btn btn-success">
        <img src="../../static/icons/heart-circle-plus-solid.svg" style="width: 17px;" alt="heart-circle-plus-solid.svg not found">
      </a>
    {% endif %}
  {% endif %}



{% endblock %}